
.structure-list{
  display: flex;
  flex-wrap: wrap;
}

.structure-item{
  display: flex;
  min-width: 275px;
  flex-wrap: nowrap;
  margin: 0.3em;
}

.item-build-btn{
  display: inline-block;
  width: 80%;
  line-height: 30px;
}

.item-deactivate-btn, .item-activate-btn {
  display: inline-block;
  min-width: 40px;
  width: 5%;
}


