<div *ngIf="showBuildList">
    <mat-button-toggle-group #group="matButtonToggleGroup" value="all">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="gather">Gather</mat-button-toggle>
      <mat-button-toggle value="refine">Refine</mat-button-toggle>
      <mat-button-toggle value="power">Power</mat-button-toggle>
      <mat-button-toggle value="misc">Misc</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="structure-list">
      <div class="structure-item" *ngFor="let buildItem of getFilteredBuildingList(group.value)">
        <game-button class="item-build-btn" [appGameTooltip]="buildItem.tooltip"
                      [name]="getButtonName(buildItem)"
                      [disabled]="!canBuild(buildItem)"
                      (click)="onBuildItemClicked(buildItem.name)"></game-button>
        <game-button class="item-deactivate-btn" [name]="'-'"
                    *ngIf="buildItem.showActivateControls"
                    (click)="onDeactivateItemClicked(buildItem.name)"
                    [disabled]="buildItem.activeNumber <= 0"></game-button>
        <game-button class="item-activate-btn" [name]="'+'"
                      *ngIf="buildItem.showActivateControls"
                      (click)="onActivateItemClicked(buildItem.name)"
                      [disabled]="!buildItem.canActivate"></game-button>
      </div>
    </div>
  </div>
