.gridContainer{
  overflow-y: auto;
  height: 100%;
}

.costItem{
  line-height: 20px;
}

.structure-item{
  width: 90%;
  border: 1px solid black;
}

.item-build-btn{
  min-width: 50px;
  line-height: 30px;
}

.item-deactivate-btn{
  min-width: 20px;
  line-height: 30px;
}

.item-activate-btn{
  min-width: 20px;
  line-height: 30px;
}
