.game-btn {
  display: inline-block;
  flex: 1;
  margin: 0.3em;
  padding: 0.3em 0.4em 0.3em 0.4em;
  background-color: white;
  border: 2px solid darkslategray;
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.game-btn:hover {
  background-color: lightgray;
}

.game-btn:active {
  background-color: darkgray;
}

.game-btn-disabled {
  display: inline-block;
  flex: 1;
  margin: 0.3em;
  padding: 0.3em 0.4em 0.3em 0.4em;
  background-color: darkgray;
  border: 2px solid darkslategray;
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  cursor: default;
}
