<div fxLayout="row" class="layout-container">
  <div fxFlex="60" class="layout-column-left">
    <div class="region-list">
      <div class="region">
        <div fxLayout="row" class="region-header">
          <div fxFlex="20">
            <fa-icon icon="cog"></fa-icon>
          </div>
          <div fxFlex="40">
            Plains
          </div>
          <div fxFlex="40">
            <div>
              Infrastructure: 0
            </div>
            <div>
              <span>Drones: 0/2</span>
              <button>-</button>
              <button>+</button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="feature-list">
          <div *ngFor="let feature of featureList">
            <fa-icon icon="cog"></fa-icon>
            <span>{{ feature.name }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxFlex="40" class="layout-column-right">
    <div class="region-detail">
      <div>Plains</div>
      <div>A wide open plain.</div>

    </div>
    <mat-divider></mat-divider>
    <div class="feature-detail">
      <div>Copper Deposit</div>
      <div>Can be mined for metal.</div>
      <div>
        Adds to each drone's production:
        <div class="productionItem">
          metal: 0.35/s
        </div>
      </div>
      <div>
        Upgrade:
        <div class="costItem">
          metal: 15
        </div>
        <button mat-raised-button>Exploit</button>
      </div>
    </div>
  </div>
</div>
