.region{
  margin-top: 12px;
  margin-bottom: 12px;
}

.feature-list{
  list-style-type: none;
  column-width: 320px;
  column-gap: 20px;
}

.feature-active {
  min-width: 300px;
}

.unselected{
  color: black;
}

.selected{
  color: red;
}
