<div fxLayout="row" class="layout-container">
  <div fxFlex="60" class="layout-column-left">
    <ul class="feature-list">
      <li *ngFor="let feature of featureList">
        <span class="feature-list-item" (click)="selectFeature(feature.id)" [ngClass]="{'selected': selectedFeatureId === feature.id}">{{feature.name}}</span>
      </li>
    </ul>
  </div>
  <div fxFlex="40" class="layout-column-right">
    <mat-card class="detail-card">
      <mat-card-header>
        <mat-card-title>{{featureDetails.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{featureDetails.description}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf="featureDetails.canBuyExploit" (click)="buyExploit()">{{featureDetails.buyExploitText}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
