.region{
  margin-top: 12px;
  margin-bottom: 12px;
}

.feature-list{
  flex: 1;
}

.feature-active {
  flex: 1;
}

.feature-buttons {
  width: 100%;
}

.ability {
  display: inline-block;
  width: 175px;
}

.task {
  display: inline-block;
  width: 175px;
}
