<div fxLayout="row" class="layout-container">
  <div fxFlex="100" class="layout-column-left">
    <div class="region-list">
      <div class="region">
        <div fxLayout="row" class="region-header">
          <div fxFlex="20">
            <fa-icon icon="cog"></fa-icon>
          </div>
          <div fxFlex="40">
            Plains
          </div>
          <div fxFlex="40">
            <div>
              Infrastructure: 0
              <button mat-raised-button>Upgrade</button>
            </div>
            <div>
              <span>Drones: 0/2</span>
              <button>-</button>
              <button>+</button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="region-content" fxLayout="row">
          <div class="region-income">
            <div>Metal: 1/s (0.2/drone)</div>
            <div>Hydrocarbon: 0.25/s (0.05/drone)</div>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="feature-list">
            <div>
              Iron Deposit
              <button>Exploit</button>
            </div>
            <div>
              Iron Deposit
              <button>Exploit</button>
            </div>
            <div>
              Titanium Deposit
            </div>
            <div>
              Bitumen Deposit
            </div>
            <div>
              -10- ????
            </div>
          </div>
        </div>
        <div class="feature-list">
          <div *ngFor="let feature of featureList">
            <fa-icon icon="cog"></fa-icon>
            <span>{{ feature.name }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</div>
