<div fxLayout="column" class="layout-container">
  <div fxFlex="4" class="layout-top"></div>
  <div fxFlex="96" fxLayout="row" class="layout-center">
    <div fxFlex="15" fxLayout="column" class="layout-column-left">
      <div fxFlex="60" class="layout-column-left-top">
        <app-resource-overview></app-resource-overview>
      </div>
      <div fxFlex="40" class="layout-column-left-bottom">
        <app-actions></app-actions>
      </div>
    </div>
    <div fxFlex="85" fxLayout="column" class="layout-column-center">
        <app-planet-interaction fxFlex="100" [hidden]="showShipPanel"></app-planet-interaction>
        <app-ship-interaction fxFlex="100" [hidden]="!showShipPanel"></app-ship-interaction>
    </div>
    <!-- <div fxFlex="10" fxLayout="column" class="layout-column-right">
        <app-system-overview fxFlex="100" (shipSelected)="onShipSelected($event)"></app-system-overview>
        <app-ship-overview fxFlex="40" (researchButtonClicked)="onResearchButtonClicked()"></app-ship-overview>
    </div> -->
  </div>
</div>

<!--
<div>{{currentTime}}</div>
<button mat-button (click)="onResetButtonClicked()">Reset</button>
-->
