.layout-container{
    height: 100%;
}

.layout-top{
  border-bottom: 1px solid black;
  padding: 2px;
}

.layout-column-left{

}

.layout-column-left-top{
  background-color: #55FF55;
  border-bottom: 1px solid black;
}

.layout-column-left-bottom{
  background-color: rgb(255, 119, 85);
}

.layout-column-center{
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #55CC55;
}

.layout-column-right{
    background-color: #555555;
}
