.layout-container{
    height: 100%;
}

/*
.layout-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.layout-column-left{
    //height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: #55FF55;
    padding: 8px;
}

.layout-column-center{
    //height: 100%;
    display: flex;
    flex: 3 1 auto;
    flex-direction: column;
    background-color: #55CC55;
    padding: 8px;
}

.layout-column-right{
    //height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #555555;
    padding: 8px;
}
*/