.bar-outer {
  background-color: rgb(201, 215, 235);
  border-radius: 3px;
  padding: 0px;
}

.bar-inner {
  background-color: blue;
  height: 0.3em;
  border-radius: 3px;
}

.bar-text {
  margin: 0px 0px 2px 10px;
  border-radius: 2px;
}
