<div class="spaceidle-section">
  <mat-button-toggle-group
    #localRateToggleGroup="matButtonToggleGroup"
    value="localRates"
    style="display: none"
  >
    <mat-button-toggle value="localRates">Local Rates</mat-button-toggle>
    <mat-button-toggle value="globalRates">Global Rates</mat-button-toggle>
  </mat-button-toggle-group>
  <ul>
    <li>Power: {{ getPower().consumption }}/{{ getPower().production }}</li>
    <br />
    <li *ngFor="let resource of getResourceList(localRateToggleGroup.value)">
      {{ resource.name }} {{ resource.amount | displayNumber }}/{{ resource.maxAmount | displayNumber }} ({{
        resource.rate | displayNumber
      }}/sec)
    </li>
  </ul>
</div>
