<div fxLayout="column" class="spaceidle-section">
  <div fxFlex="5" class="planet-header" fxLayout="row">
    <div class="planet-name" fxFlex="20">
      Forest Planet
    </div>
    <div class="planet-drones" fxFlex="20">
      Drones: {{droneCount()}}/{{droneCap()}}
      <span *ngIf="dronesIdle() > 0">({{dronesIdle()}} idle)</span>
    </div>
    <div class="planet-power" fxFlex="20">
      Power: {{powerUsed()}}/{{powerAvailable()}}
    </div>
  </div>
  <mat-tab-group fxFlex="95">
    <mat-tab label="Explore">
      <app-pi-terrain></app-pi-terrain>
    </mat-tab>
    <mat-tab label="Structures" *ngIf="showStructures">
      <app-pi-structures></app-pi-structures>
    </mat-tab>
    <mat-tab label="Research" *ngIf="showResearch">
      <app-si-research></app-si-research>
    </mat-tab>
  </mat-tab-group>
</div>
