@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body
{
    height: 95%;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

.spaceidle-section{
  flex-grow: 1;
  height: 100%;
  padding: 5px;
  border: 0px solid black;
}
