@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body
{
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

.spaceidle-section{
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
}
