<div class="container">
  <div class="header-section">
    <div class="name">Test Name</div>
    <div class="description">This is a button that does some stuff.  It's going to be useful at some point.</div>
  </div>
  <div class="cost-section">
    <div class="cost">
      <span class="cost-name">metal</span>
      <span class="cost-amount">21</span>
    </div>
    <div class="cost">
      <span class="cost-name">silicates</span>
      <span class="cost-amount">53</span>
    </div>
  </div>
</div>
