.container {
  padding: 5px;
  background: white;
  border: 1px solid black;
  margin: 0px;
  width: 150px;
}

.name {
  font-weight: bold;
}

.description {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 8pt;
  font-style: italic;
}

.cost-section, .consumption-section, .production-section {
  border-top: 1px solid black;
  padding-top: 5px;
}

.cost, .consumption, .production {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

