<div fxLayout="row">
  <div fxLayout="column" fxFlex="50" class="command-column-left">
    <br />
    <div fxFlex="50" *ngIf="showOutpostPanel" class="outpost-panel">
      <div>{{outpostName}}</div>
      <button mat-button *ngIf="outpostUpgradeVisible" [disabled]="!canAffordOutpostUpgrade()" (click)="onUpgradeOutpost()">{{outpostUpgradeText}}</button>
      <div *ngFor="let cost of outpostUpgradeCosts.resources">{{cost.resource}}: {{cost.amount}}</div>
    </div>
    <div fxLayout="column" fxFlex="50" class="starship-panel" *ngIf="outpostLevel === 3">
      <div *ngFor="let part of shipParts">
          <button mat-button
            *ngIf="!part.built"
            (click)="onBuildShipComponent(part)"
            [disabled]="!canAffordShipPart(part)">{{part.name}}: {{part.cost.resources[0].amount}} {{part.cost.resources[0].resource}}</button>
      </div>
      <button mat-button *ngIf="showLaunchBtn" (click)="onLaunchShip()">Launch Starship</button>
      <div *ngIf="shipLaunched">Congratulations, you have reached the end of the Space Idle prototype!</div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="50" class="command-column-right">
    <div fxFlex="100" class="drone-panel">
      <div>Drones: {{currentDrones}}/{{maxDrones}} (Idle: {{idleDrones}})</div>
      <button mat-button *ngIf="showBuildDrone" [disabled]="!canAffordDrone()" (click)="onBuildDrone()">Build Drone</button>
      <div *ngIf="showBuildDrone">
        <div *ngFor="let resource of droneCost.resources">
          {{resource.resource}}: {{resource.amount}}
        </div>
      </div>
      <br />
      <div class="drone-assignment">
        <div fxLayout="row" *ngFor="let task of droneTasks">
          <ng-container *ngIf="task.visible">
            <div fxFlex="50">{{task.name}}</div>
            <div fxFlex="50">
              <button (click)="onUnassignDrone(task.name)">-</button>
              {{task.assigned}}
              <button (click)="onAssignDrone(task.name)">+</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
