<div fxLayout="row">
  <div fxLayout="column" fxFlex="50" class="command-column-left">
    <div fxFlex="50" class="planet-summary">
      <div>Forest Planet</div>
      <div>Orbit: Medium</div>
      <div>Climate: Temperate</div>
      <div>Atmosphere: Oxygen</div>
    </div>
    <br />
    <div fxFlex="50" class="outpost-panel">
      <div>{{outpostName}}</div>
      <button mat-button *ngIf="outpostUpgradeVisible"  (click)="onUpgradeOutpost()">{{outpostUpgradeText}}</button>
    </div>
    <div fxLayout="column" fxFlex="50" class="starship-panel" *ngIf="outpostLevel === 3">
      <button mat-button>Superstructure</button>
      <button mat-button>Stardrive Module</button>
      <button mat-button>Navigation Computer</button>
      <button mat-button>Gravity Plating</button>
      <button mat-button>Launch Starship</button>
    </div>
  </div>
  <div fxLayout="column" fxFlex="50" class="command-column-right">
    <div fxFlex="100" class="drone-panel">
      <div>Drones: {{currentDrones}}/{{maxDrones}} (Idle: {{idleDrones}})</div>
      <button mat-button (click)="onBuildDrone()">Build Drone</button>
      <div class="drone-assignment">
        <div fxLayout="row" *ngFor="let task of droneTasks">
          <ng-container *ngIf="task.visible">
            <div fxFlex="50">{{task.name}}</div>
            <div fxFlex="50">
              <button (click)="onUnassignDrone(task.name)">-</button>
              {{task.assigned}}
              <button (click)="onAssignDrone(task.name)">+</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
